.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    border: 1px solid black;
    padding: 1px;
    align-items: center;
    vertical-align: middle;
    background-color: antiquewhite;
    
  }
  .autocompleteitems {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100px;
    
  }
  .autocompleteitems ul{
    padding:1px;
    
  }
  .autocompleteitems div {
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocompleteitems div:hover {
    /*when hovering an item:*/
    background-color: rgb(30, 191, 255);
  }
  .autocompleteActive {
    /*when navigating through the items using the arrow keys:*/
    background:blue;
    background-color: rgb(30, 191, 255) !important;
    color: #ffffff;
  }